.panel-panel {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--panel-border-color);
    overflow: hidden;
    width: 100%;
}

.panel-panel__head {
    padding-left: 1rem;
    padding-bottom: 0px;
}

.panel-panel__view {
    background-image: url(/dots.svg);
    background-repeat: repeat;
    background-size: 1.5rem;
    padding: 1rem;
}
